* {
  box-sizing: border-box;
}

html,
body {
  color: #3a3a3a;
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  padding: 0 50px 0 50px;
  width: 100%;
}

.header {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0,0.7) 100%),url(../images/francis.png);
  background-repeat:no-repeat, no-repeat; 
  background-size: 100% 150px, auto;
  background-position: 0px 0px, center;
  height: 745px;
  position: relative;
  width: 100%;
}

.navbar {
  align-items: center;
  color: white;
  display: flex;
  font-family: 'Lato', sans-serif;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 100px;
  position: relative;
  padding-top:20px;
  width: 100%;
}

.navbar.black {
  background-color: #3a3a3a;
}

.navbar__title {
  font-size: 30px;
  font-weight: 400;
  margin:0;
  line-height: 60px;
}

.navbar__section--right {
  background-color: #3a3a3a;
  border-bottom: 1px dashed #949494;
  border-left: 1px dashed #949494;
  border-right: 1px dashed #949494;
  display: none;
  position: absolute;
  top: 60px;
  text-align: center;
  width: 100%;
  z-index:1;
}

.navbar__section--right .navbar__item {
  padding:24px 0;
}

.navbar__section.navbar__section--toggle {
  cursor: pointer;
}

.navbar__item .navbar__link {
  font-size: 14px;
  font-weight: 100;
}

.navbar__icon {
  height: 30px;
  vertical-align: middle;
  width: 30px;
}

/*Header Article*/
.header__section {
  background-color: #3a3a3a35;
  color: white;
  height: 450px;
  max-width: 500px;
  position: relative;
  width: 100%;
}

.section__article {
  font-weight: 150;
  padding: 40px 40px 0px 40px;
}

.article__title {
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}

.article__title--span {
  display: block;
  font-size: 14px;
  font-weight: 150;
}

.article__text {
  font-size: 22px;
  max-height: 108px;
}

.article__question {
  bottom: 20%;
  font-weight: bold;
  position: absolute;
}

.article__link {
  bottom: 30%;
  font-size: 12px;
  position: absolute;
  text-decoration: underline;
}

.article__icon  {
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

.section__vote {
  bottom: 0;
  display: inline-flex;
  height: 80px;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.vote {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 50%;
}

.vote--like {
  background-color: rgba(46,188,181,0.8); 
}

.vote--dislike {
  background-color: rgba(250,174,48,0.8);
}

.section__icon {
  height: 40px;
  width: 40px;
}

.section__icon--dislike {
  transform: rotate(180deg);
}

/*Header Footer*/
.header__footer {
  background-color: #eaeaea45;
  bottom: 0;
  display:inline-flex;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
}

.footer__section--left {
  background-color: #3a3a3a45;
  position: relative;
  width: 50%;
}

.footer__section--left::after {
  border-top: 5px solid transparent;
  border-left: 5px solid  #3a3a3a45;
  border-bottom: 5px solid transparent;
  content: "";
  height: 0;
  left:100%;
  position: absolute;
  top:40%;
  width: 0;
  z-index: 1;
}

.footer__section--right {
  display: flex;
  height: 50px;
  justify-content: flex-start;
  margin-left: 15px;
  text-align: left;
  width: 68%;
}

.section__text {
  color: white;
  font-size: 13px;
  line-height: 30px;
  padding-right: 10px;
  text-align: right;
}

.section__text--right {
  color:#3a3a3a;
  font-size: 35px;
  font-weight: 150;
  margin:0;
  line-height: 50px;
  text-align: left;
}

.section__text--span {
  color: #3a3a3a;
  font-weight: 500;
  font-size: 37px;
  line-height: 0;
  padding: 0;
}

/*Message*/
.message {
  background-color: #ebebeb;
  display: flex;
  font-weight: 150;
  font-size: 14px;
  margin: 30px 0;
  min-height: 100px;
  width: 100%;
}

.message__title {
  display: none;
}

.message__text {
  padding: 20px;
  width: 100%;
}

.message__icon {
  align-self: center;
  cursor: pointer;
  height: 25px;
  margin-right: 25px;
  width: 25px;
}

/*Stars*/
.stars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stars__title {
  font-size: 30px;
  font-weight:150 ;
  text-align: center;
  width: 100%;
}

.stars__card {
  background-image: url(../images/kanye.png);
  background-size: auto;
  height: 550px;
  margin-bottom: 40px;
  position: relative;
  width: 492px;
}

.stars__card.card--2 {
  background-image: url(../images/mark.png);
}

.stars__card.card--3 {
  background-image: url(../images/cristina.png);
}

.stars__card.card--4 {
  background-image: url(../images/malala.png);
}

/*Content of each star*/
.card__content {
  bottom: 50px;
  color: white;
  margin-bottom: 33px;
  position: absolute;
}

.content {
  display: none;
  height: 33px;
  width: 33px;
}

.content--like {
  background-color: rgb(46,188,181);
}

.content--dislike {
  background-color:  rgb(250,174,48);
}

.content--like.active {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.content--dislike.active {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  transform: rotate(180deg);
}

.content__icon {
  height: 20px;
  width: 20px;
}

.content__title {
  display: inline-block;
  font-size: 38px;
  font-weight: 400;
  margin: 0;
  vertical-align: sub;
  width: 90%;
}

.content__description {
  font-size: 12px;
  font-weight: 350;
  margin: 0;
}

.description__span {
  font-weight: bold;
}

.card__content p {
  padding: 0 40px;
}

.content__text {
  display: none;
  font-size: 16px;
  font-weight: 150;
}

.content__text.active {
  display: block;
}

/*Buttons of each star*/
.content__buttons {
  align-items: center;
  display: inline-flex;
  padding: 0 40px;
  width: 100%;
}

.buttons {
  align-items: center;
  border: none;
  display: flex;
  height: 33px;
  justify-content: center;
  margin-right: 20px;
  width: 33px;
}

.buttons::nth-child(3) {
  margin-left: 50px;
}

.thumbs__button {
  background-color:  rgba(46,188,181,0.7);
  cursor: pointer;
}

.buttons.none {
  display:none;
}

.thumbs__button--dislike {
  background-color:  rgba(250,174,48,0.7);
  cursor: pointer;
}

.thumbs__button.active {
  border:2px solid white;
}

.thumbs__button--dislike.active {
  border:2px solid white;
}

.button__image {
  height: 20px;
  width: 20px;
}

.button__image--dislike {
  transform: rotate(180deg);
}

.vote__button {
  width: 100px;
}

.button__inline {
  border: 1px solid white;
  display: none;
  font-size: 13px;
  padding: 12px 20px;
  text-align: center;
}

.button__inline--again {
  padding: 10px 15px;
}

.button__inline.active {
  display: inline;
}

/*Progress bar of each star*/
.card__progress {
  align-items: center;
  background-color: rgba(250,174,48,0.8);
  bottom: 0px;
  display: flex;
  height: 50px;
  position: absolute;
  width: 100%;
}

.progress__value {
  background-color: rgba(46,188,181,0.8);
  display: inline-block;
  height: 100%;
  width: 50%;
}

.progress__like {
  color: white;
  font-size:26px;
  font-weight: 100;
  left:40px;
  position: absolute;
  top:18%;
}

.progress__dislike {
  color: white;
  font-size:26px;
  font-weight: 100;
  position: absolute;
  right:40px;
  top:18%;
}

.progress__icon--like {
  height: 25px;
  left:5px;
  position: absolute;
  top:26%;
  width: 25px;
}

.progress__icon--dislike {
  height: 25px;
  position: absolute;
  right:5px;
  top:26%;
  transform: rotate(180deg);
  width: 25px;
}

/*Stars footer*/
.stars__footer {
  align-items: center;
  background-image:linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),url(../images/people.png); 
  background-size:auto,auto;
  display:flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

.stars__footer--text {
  font-weight: 150;
  font-size: 25px;
  margin-left: 18px;
}

.stars__footer--link {
  border:3px solid #3a3a3a;
  color:#3a3a3a;
  font-size:15px;
  margin-right:25px;
  padding: 10px 35px;
  text-align: center;
}

/*Web page Footer*/
.footer {
  align-items: center;
  border-top: 1px dashed #979797;
  display: flex;
  height: 80px;
  justify-content: space-between;
  line-height: 80px;
  margin-top: 40px;
  width: 100%;
}

.footer__link {
  color:#979797;
  font-size:12px;
  margin:10px;
}

.footer__link:first-child {
  margin-left: 0;
}

.footer__link:last-child {
  margin-right: 0;
}

.media__icon {
  height: 26px;
  vertical-align: middle;
  width: 26px;
}

/*Very small devices*/
@media (max-width: 550px) {

  /*Header Article*/
  .section__article {
    font-weight: 150;
    padding: 20px 20px 0px 20px;
  }
  
  .article__title {
    font-size: 45px;
    font-weight: 400;
    margin: 0;
  }
  
  .article__title--span {
    display: block;
    font-size: 12px;
    font-weight: 150;
  }
  
  .article__text {
    font-size: 18px;
    max-height: 108px;
  }
  /*Stars*/
  .stars__card {
   background-position:center;
  }

  /*Stars Footer*/
  .stars__footer--text {
    font-size: 20px;
  }
  
  .stars__footer--link {
    font-size:10px;
    padding: 5px 10px;
  }

  /*Web page Footer*/
  .footer {
    flex-wrap:wrap;
    height: 50px;
    line-height: 50px;
  }

  .footer__div {
    width: 100%;
  }

  .footer__link {
    margin:6px;
  }
}