$font-family_1: "Lato", sans-serif;
$color_1: #3a3a3a;
$color_2: white;
$color_3: black;
$color_4: rgba(46, 188, 181, 0.8);
$color_5: #979797;
$background-color_1: #3a3a3a;
$background-color_2: #3a3a3a35;
$background-color_3: rgba(46, 188, 181, 0.8);
$background-color_4: rgba(250, 174, 48, 0.8);
$background-color_5: #eaeaea45;
$background-color_6: #3a3a3a45;
$background-color_7: #ebebeb;
$background-color_8: rgb(46, 188, 181);
$background-color_9: rgb(250, 174, 48);
$background-color_10: rgba(46, 188, 181, 0.7);
$background-color_11: rgba(250, 174, 48, 0.7);
